
  <div class="jumbotron col-sm-12">
    <div class="container banner p-3">
    <div class="section-info">
      <h1 style="font-size:6vw;">
        Julian <br>
        Harrington
      </h1>
      <p>full stack web developer</p>
      <p><a class="btn btn-outline-dark" href="mailto:julian_harrington@icloud.com" role="button">Let's work.</a></p>
    </div>
  </div>
</div>

