
  <div class="jumbotron">
    <div class="container p-0">
    <div class="section-info">
      <h1>
        Julian <br>
        Harrington
      </h1>
      <p>full stack web developer</p>
      <p><a class="btn btn-dark" href="#" role="button">Let's work.</a></p>
    </div>

    <div class="section-photo">
      <!-- Add image here -->
    </div>
  </div>
</div>

