<footer class="bg-dark mx-0 p-0">
    <div class="container d-flex flex-column">
      <div class="row pl-5 pt-5 pb-0 w-100">

          <!-- Font Awesome Media Icons -->

            <!-- Phone -->
            <h5 class="footer-icon"><a href="tel:+61414502640"><i class="fas fa-phone-square-alt"></i></a></h5>

            <!-- Email -->
            <h5 class="footer-icon"><a href="mailto:julian_harrington@icloud.com"><i
            class="fas fa-paper-plane"></i></a></h5>

            <!-- Github -->
            <h5 class="footer-icon"><a href="https://github.com/julianharr" target="_blank"><i class="fab fa-github-square"></i></a></h5>

            <!-- Codepen -->
            <h5 class="footer-icon"><a href="https://codepen.io/julianharr" target="_blank"><i class="fab fa-codepen"></i></a></h5>

            <!-- LinkedIn -->
            <h5 class="footer-icon"><a href="https://www.linkedin.com/in/julian-harrington-67b04214a/" target="_blank"><i class="fab fa-linkedin"></i></a></h5>
      </div>
      <div class="row pl-5 pb-5 w-100">
        <h5 id="footer-text" style="color: white;">Made with ♥️ by Julian Harrington</h5>
      </div>
    </div>

</footer>
