<div class="container px-0">
  <div class="row m-0 p-0">

    <!-- Each image here -->
    <div class="col-md-6 col-sm-12">
      <div class="item mb-4">
        <img src="https://placeimg.com/550/550/any" alt="" class="img-fluid">
        <h3>Project Name</h3>
      </div>
    </div>


    <div class="col-md-6 col-sm-12">
      <div class="item">
        <img src="https://placeimg.com/550/550/any" alt="" class="img-fluid">
        <h3>Project Name</h3>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="item">
        <img src="https://placeimg.com/550/550/any" alt="" class="img-fluid">
        <h3>Project Name</h3>
      </div>
    </div>


    <div class="col-md-6 col-sm-12">
      <div class="item">
        <img src="https://placeimg.com/550/550/any" alt="" class="img-fluid">
        <h3>Project Name</h3>
      </div>
    </div>

  </div>
</div>
