:root {
  --color-primary: #fff;
  --color-secondary: #fff;
  --color-accent: #3700B3;
  --font-color: #000000;
}

.theme-dark {
  --color-primary: #121212;
  --color-secondary: #BB86FC;
  --color-accent: #ffffff;
  --font-color: #FFFFFF;
}

#about {
  background-color: var(--color-primary);
  width: 100vw;
  display: flex;
  align-items: center;
   h1 {
    color: var(--font-color);
   }
}

.container-about {
  display: flex;
  margin: 150px auto;
  background-color: var(--color-secondary);
  flex-direction: column;
  border-radius: 8px;
  -webkit-box-shadow: 2px 6px 11px -6px #000000;
  box-shadow: 2px 6px 11px -6px #000000;
  padding: 24px;
    button {
      border: 0.02rem solid lightgrey;
      background-color: #EAFDF8;
      padding: 8px 12px;
      font-size: 24px;
      font-weight: 700;
      border-radius: 8px;
      transition: all 0.07s ease-in-out;
      font-family: 'Roboto Mono', monospace;
    }
    button:active {
      box-shadow: 4px 4px 1px #04DC45;
      transform: translatex(-5px) translatey(-5px);
    }
}

#nav-about {
  width: 350px;
  margin: 50px 0 0 75px;
     a {
      margin-top: 12px;
      color: var(--color-accent);
      font-family: 'Roboto Mono', monospace;
      padding: 8px 12px;
      border-radius: 8px;
      text-decoration: none;
      border: 0.04rem solid #fff;
      box-shadow: 2px 4px 8px -6px #000000;
      transition: all 0.07s ease-in-out;
    }
}

#about-image {
  width: 350px;
  height: 275px;
  border-radius: 8px;
}

#sports-image {
  width: 450px;
  height: 325px;
  border-radius: 8px;
}

#about-text {
  font-family: 'Roboto Mono', monospace;
  span {
    color: var(--color-accent);
    font-weight: 900;
  }
}

@media only screen and (max-width: 1000px) {
  #about-image {
    width: 300px;
    height: 250px;
  }

  #sports-image {
    width: 350px;
    height: 275px;
  }

  .container-about {
    width: 100%;
    margin: 50px auto;
    button {
      max-width: 50px;
    }
  }
   #about-primary, #about-hobbies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      img {
        margin: 16px;
      }

      p {
        padding: 12px;
      }
   }

   #about-hobbies {
    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
       h5 {
        text-align: center;
       }
    }
   }
 }




