:root {
  --color-primary: #fff;
  --color-secondary: #fff;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.theme-pink {
  --color-primary: #FB60A3;
  --color-secondary: #fff;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.theme-blue {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.theme-green {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

#about {
  background-color: var(--color-primary);
  height: 100vh;
}

.container-about {
  display: flex;
  background-color: var(--color-secondary);
  flex-direction: column;
  border-radius: 8px;
  -webkit-box-shadow: 2px 6px 11px -6px #000000;
  box-shadow: 2px 6px 11px -6px #000000;
  padding: 24px;
    button {
      border: none;
      padding: 8px;
      border-radius: 8px;
      transition: all 0.07s ease-in-out;
    }
    button:active {
      transform: scale(1.1);
    }
}

#nav-about {
  width: 350px;
  margin: 50px 0 0 75px;
}

#about-image {
  width: 350px;
  height: 275px;
  border-radius: 8px;
}

#sports-image {
  width: 450px;
  height: 325px;
  border-radius: 8px;
}

#about-text {
  font-family: 'Roboto Mono', monospace;
  span {
    color: #8a1dd3;
    font-weight: 700;
  }
}




