.jumbotron {
  // background: linear-gradient(to left, #e0eafc, #cfdef3);
  background: rgb(255,119,23);
  background: linear-gradient(90deg, rgba(255,119,23,1) 0%, rgba(120,54,118,1) 100%);
}

.banner {
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 80px;
    font-weight: 800;
    color: #27262C;
  }
}
