.img-project {
  object-fit: cover;
  height: 440px;
  width: 540px;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
}

.img-project:hover {
  box-shadow: 6px 6px 1px var(--color-accent);
  transform: translatex(-6px) translatey(-6px);
}


h3 {
  color: #27262C;
}

p {
  color: #27262C
}


